body {
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 100%;
}

.footer {
  height:5em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
h1 {
  font-size: 4em;
}


p{
  margin: 1px;  
}
h4 {
  margin: 1px;
}

.dark-blue {
  background-color: rgb(23, 98, 196);
}


main {
  display: flex;
  justify-content: flex-end;
}

.article-container {
  display:flex;
  flex-direction: column;
  margin: 2em 8em 1em 1em;
  padding: 0em 3em;
  font-size: 1.3em;
  border-top: 20px solid rgb(151, 189, 238);
  width: 40vw;
}

.text-center {
  text-align: center;
}

.aside-container {
  margin-top: 3em;
  margin-right: 3em;
  display:
}

.spacer {
  width: 15vw;
}