body {
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  width: 100%;
}

.footer {
  height:5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}

p{
  margin: 1px;  
}
h4 {
  margin: 1px;
}

.dark-blue {
  background-color: rgb(23, 98, 196);
}


main {
  display: flex;
}

.article-container {
  display:flex;
  flex-direction: column;
  margin: 1em 1em 1em 10em;
  padding: 0em 3em;
  font-size: 1.3em;
}

.text-center {
  text-align: center;
}

.aside-container {
  margin-top: 3em;
}

.spacer {
  width: 20vw;
}